.modal

   .modal-state
      display: none

   .modal-state:checked + .modal-fade-screen
      opacity: 1
      visibility: visible

   .modal-state:checked + .modal-fade-screen .modal-inner
      top: 0.5em

   // label
   //    cursor: pointer
   //    margin-bottom: 0

// .modal-open
//    overflow: hidden


// Based on code by Kasper Mikiewicz




.modal-fade-screen
   +position(fixed, 0)
   background-color: rgba(#000, 0.85)
   opacity: 0
   transition: opacity 0.3s ease
   visibility: hidden
   z-index: 9999
   display: flex
   align-items: center
   // padding-top: 5rem

   //below is unknown
   .modal-bg
      +position(absolute, 0)
      cursor: pointer

.modal-inner
   background-color: $lights
   margin: auto
   padding: 12px
   transition: opacity 0.3s ease
   width: 75%
   max-width: 800px
   // max-height: 95%

.modal-inner-border
   +size(100%)
   border: 1px solid $primary
   position: relative
   +clearfix

.modal-close
   +position(absolute, 1rem 1.1rem null null)
   +size(20px)
   // background: $modal-background
   cursor: pointer

   &::after,
   &::before
      +position(absolute, 3px 3px 0 50%)
      height: 20px
      width: 3px
      background: $primary
      content: ""
      display: block
      margin: -3px 0 0 -1px
      transform: rotate(45deg)
      transition: 0.3s ease

   &:hover::after,
   &:hover::before
      background: darken($primary, 20%)

   &::before
      transform: rotate(-45deg)



.contact-head-container
   +clearfix
   width: 100%
   padding: 30px

   img
      +size(150px)
      border: 1px solid darken($lights, 8%)
      float: left
      border-radius: 80px

   .text-container
      margin-left: 20px
      float: left

      h2
         margin-bottom: 0.5rem

      p
         margin-left: 6px

form
   +clearfix

.form-container
   padding: 0 30px
   width: 100%
   height: 110px
   margin-bottom: 10px

   .left
      width: 49%
      display: inline-block

      input
         margin: 0
         height: 50px
         border-radius: 0

      input[placeholder]
         color: lighten($darks, 20%)

      input:nth-child(1n)
         margin-bottom: 10px

   textarea
      width: 49%
      height: 100%
      margin-bottom: 0
      border-radius: 0
      float: right

   textarea[placeholder]
      color: lighten($darks, 20%)

input[type="submit"]
   float: right
   height: 50px
   width: 23%
   color: $lights
   background-color: $primary
   border: none
   border-radius: 0
   text-transform: uppercase
   font-weight: 400
   margin: 0 30px 30px 0
   transition: 0.3s ease

   &:hover
      background-color: darken($primary, 10%)

   &:focus
      outline: none
      background-color: darken($primary, 15%)



///////////////////
// Media Queries //
///////////////////

@media (max-width: 830px)
   .modal-inner
      padding: 8px

   .contact-head-container
      padding: 26px

      img
         +size(100px)

      .text-container
         margin-left: 16px

         h2
            font-size: 1.9rem
            letter-spacing: 1

         p
            font-size: 0.86rem
            margin-left: 4px

   .form-container
      padding: 0 26px
      height: 210px

      .left
         width: 100%

         input
            height: 44px

         input[placeholder]
            font-size: 0.8rem

         input:nth-child(1n)
            margin-bottom: 8px

      textarea
         height: 49%
         width: 100%
         float: none

      textarea[placeholder]
         font-size: 0.8rem

   input[type="submit"]
      float: right
      height: 44px
      margin: 0 26px 26px 0
      font-size: 0.8rem


@media (max-width: 700px)
   .contact-head-container
      padding-bottom: 10px

      img
         +size(80px)

      .text-container
         margin-left: 12px

         h2
            font-size: 1.7rem
            letter-spacing: 0.8
            margin-bottom: 4px

         p
            font-size: 0.8rem
            margin-left: 4px

   .form-container
      height: 180px

      .left

         input
            height: 40px

         input:nth-child(1n)
            margin-bottom: 6px

   input[type="submit"]
      height: 40px


@media (max-width: 610px)
   .contact-head-container

      img
         display: none

      .text-container
         margin-left: auto
         text-align: center
         float: none

.modal-close
   +position(absolute, 0.6rem 0.7rem null null)
